*.o
*.mod
*.exe
*.a
*.log
*.status
*.conf
*.asv
*.nc

*.mat
!MyColormaps.mat

*.asv
*~
*.asc
*.csv
*.txt

output/*
!output/figs_png
output/figs_png/*
!output/figs_eps
output/figs_eps/*
!output/anim
output/anim/*
!.gitkeep
!output/*.sh

data/*
lib/*
